<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <a class="navbar-brand  nav-padding" href="/">Home</a>
    <a class="navbar-brand  nav-padding" href="/movies">All Movies</a>
    <a class="navbar-brand  nav-padding" href="/movies/add">Add Movie</a>
  </div>
</nav>
